article {
  margin: 12px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  animation-name: fade-in;
  animation-duration: 1s;
}

article img {
  height: auto;
  width: min(30%, 540px);
  border-radius: 9px;
}

.article__text-content {
  width: 500px;
}

article h1 {
  font-size: 2rem;
}

article p {
  font-size: 1.2rem;
}

@media (min-width: 1200px) {
  article {
    margin: 120px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(150px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
